<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Registration</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css'%}">
</head>

<body>
    <div id="wrapper">
        <form id="registration" method='post' action='/process_reg'>
            {% csrf_token %}
            <h1>Registration</h1>

            <div>
                <label>First Name</label>
                <input type='text' name='first_name'>
            </div>

            <!-- the following positions each individual error code - matches it to the label type -->
            <div class = "error">
                {% for message in messages %}
                    {% if message.tags == 'first_name error'%}
                        {{message}}
                    {% endif %}
                {% endfor %}
            </div>

            <div>
                <label>Last Name</label>
                <input type='text' name='last_name'>
            </div>

            <div class = "error">
                {% for message in messages %}
                    {% if message.tags == 'last_name error'%}
                        {{message}}
                    {% endif %}
                {% endfor %}
            </div>

            <div>
                <label>Email</label>
                <input type='text' name='email'>
            </div>

            <div class = "error">
                {% for message in messages %}
                    {% if message.tags == 'email error'%}
                        {{message}}
                    {% endif %}
                {% endfor %}
            </div>

            <div>
                <label>Password</label>
                <input type='password' name='password'>
            </div>

            <div class = "error">
                {% for message in messages %}
                    {% if message.tags == 'password error'%}
                        {{message}}
                    {% endif %}
                {% endfor %}
            </div>

            <div>
                <label>Confirm PW</label>
                <input type='password' name='pw_confirm'>
            </div>

            <div class = "error">
                {% for message in messages %}
                    {% if message.tags == 'pw_confirm error'%}
                        {{message}}
                    {% endif %}
                {% endfor %}
            </div>

            <!-- NINJA BONUS: Add a birthday field and validate that the user's birthday is in the past -->
            <div>
                <label>Birthday</label>
                <input type='date' name='birthday'>
            </div>

            <div class = "error">
                {% for message in messages %}
                    {% if message.tags == 'birthday error'%}
                        {{message}}
                    {% endif %}
                {% endfor %}
            </div>

            <button type="submit">Register</button>
        </form>

        <form id="login" method='post' action='/process_login'>
            {% csrf_token %}

            <h1>Login</h1>

            <div>
                <label>Email</label>
                <input type='text' name='login_email'>
            </div>

            <div class = "error">
                {% for message in messages %}
                    {% if message.tags == 'login error'%}
                        {{message}}
                    {% endif %}
                {% endfor %}
            </div>

            <div>
                <label>Password</label>
                <input type='password' name='login_password'>
            </div>

            <div class = "error">
                {% for message in messages %}
                    {% if message.tags == 'login error'%}
                        {{message}}
                    {% endif %}
                {% endfor %}
            </div>

            <button type="submit">Log In</button>
        </form>

    </div>

    <!-- <div id="error_messages">
        {% for message in messages %}
            <p>{{message.tags}} {{message}} </p>
        {% endfor %}
    </div> -->

</body>

</html>